#  頻率轉換、合併多個表格

## 載入相關套件

In [ ]:
import pandas as pd
import yfinance as yf

## 下載每日股價

In [4]:
df_quote = yf.download('1101.TW', start='2020-01-01', end='2022-11-30')
df_quote.tail()

[*********************100%***********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2022-11-23  32.849998  33.099998  32.549999  32.700001  32.700001  20279555
2022-11-24  33.000000  33.200001  32.700001  33.200001  33.200001  25390750
2022-11-25  33.099998  33.549999  33.099998  33.549999  33.549999  28220045
2022-11-28  33.299999  33.400002  32.799999  33.000000  33.000000  32038057
2022-11-29  33.049999  33.549999  32.849998  33.549999  33.549999  22131247

## 轉換為月頻率

In [34]:
df_quote_new = df_quote.resample('M').mean()
df_quote_new

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2020-01-31,37.880681,38.111573,37.695967,37.941290,32.555620,2.314452e+07
2020-02-29,36.864453,37.213069,36.725462,37.001165,31.748945,1.667600e+07
2020-03-31,34.352366,34.808902,33.858441,34.338591,29.464317,2.583771e+07
2020-04-30,35.778845,36.097042,35.568877,35.869758,30.778138,1.581025e+07
2020-05-31,36.962885,37.226968,36.772400,36.995355,31.743958,1.660900e+07
2020-06-30,37.354680,37.532178,37.166359,37.337363,32.037420,1.757845e+07
2020-07-31,38.763465,39.045806,38.573356,38.834991,33.322463,2.116630e+07
2020-08-31,39.651630,39.980242,39.313225,39.643692,35.365919,3.075036e+07
2020-09-30,38.328946,38.504577,38.027273,38.256627,34.790867,1.855571e+07
2020-10-31,37.038300,37.198598,36.830153,36.961740,33.613287,1.064124e+07
2020-11-30,38.307693,38.500346,38.119369,38.325010,34.853055,1.660278e+07
2020-12-31,39.192279,39.387944,39.022307,39.184373,35.634567,1.466547e+07
2021-01-31,38.113849,38.275223,37.891107,37.991113,34.549407,2.276422e+07
2021-02-28,37.673785,37.929046,37.484961,37.712249,34.295806,2.195340e+07
2021-03-31,39.967482,40.130716,39.717466,39.938554,36.320425,2.756885e+07
2021-04-30,45.525696,46.235338,44.843833,45.525696,41.401413,6.315975e+07
2021-05-31,46.139373,46.866693,45.344948,46.167513,41.985086,4.442555e+07
2021-06-30,46.665381,46.881845,46.379648,46.691357,42.461475,1.607629e+07
2021-07-31,47.213823,47.482435,46.891487,47.209690,42.932851,2.521782e+07
2021-08-31,44.771515,45.102115,44.339668,44.804575,42.503008,2.778035e+07
2021-09-30,45.282498,45.730254,44.964295,45.462055,44.260874,1.898831e+07
2021-10-31,45.055211,45.259770,44.705188,44.934749,43.747501,1.480724e+07
2021-11-30,43.707395,43.874762,43.457379,43.657805,42.504296,1.488653e+07
2021-12-31,43.011069,43.238357,42.837504,43.060659,41.922927,1.092872e+07
2022-01-31,43.111397,43.257872,42.871483,43.106347,41.967408,1.109078e+07
2022-02-28,42.902798,43.136146,42.714906,43.039170,41.902006,1.074571e+07
2022-03-31,44.030539,44.240039,43.838827,44.119478,42.953770,1.359781e+07
2022-04-30,43.390389,43.543509,42.988449,43.182242,42.041298,1.834100e+07
2022-05-31,38.855347,39.097787,38.537145,38.731963,37.708602,2.475314e+07
2022-06-30,36.866040,37.004577,36.560826,36.656070,35.687558,2.023756e+07
2022-07-31,37.482137,37.769814,37.164372,37.476509,36.821245,2.018867e+07
2022-08-31,39.204348,39.391304,38.936956,39.258695,39.258695,1.409493e+07
2022-09-30,38.145238,38.345238,37.809524,37.995238,37.995238,2.869266e+07
2022-10-31,32.362500,32.580000,31.922500,32.092500,32.092500,2.634033e+07
2022-11-30,32.250000,32.659524,31.985714,32.404762,32.404762,3.009818e+07

## 讀取月營收資料

In [35]:
df_monthly_sales = pd.read_csv('./data/stock_monthly_sales.csv')
df_monthly_sales.head()

   公司代碼      年月     單月營收  單月月增率  單月年增率       累計營收  累計年增率      盈餘 每股盈餘（元）
0  1101  202211   9674.6  -14.9   -0.8  100384.63    4.3      --      --
1  1101  202210  11368.1    9.3   18.9   90710.06    4.9      --      --
2  1101  202209  10404.9   -2.7    8.4   79274.33    3.1  2917.8    0.38
3  1101  202208  10689.9    5.8   19.3   68937.06    2.4  2917.8    0.38
4  1101  202207  10102.5   10.5   21.4   58247.20   -0.2  2917.8    0.38

## 轉換日期格式

In [36]:
df_quote_new = df_quote.reset_index()
df_quote_new.Date = df_quote_new.Date
df_quote_new.Date = df_quote_new.Date.map(lambda x:str(x)[:4]+str(x)[5:7])
df_quote_new

       Date       Open       High        Low      Close  Adj Close    Volume
0    202001  37.923973  38.227016  37.923973  38.183727  32.763641  21332437
1    202001  38.227016  38.313602  37.620930  38.053848  32.652203  21236055
2    202001  37.664219  37.837391  37.491051  37.620930  32.280735  16016306
3    202001  37.620930  37.750805  37.404465  37.750805  32.392174  16383256
4    202001  37.361176  37.707512  37.361176  37.577637  32.243584  15523197
..      ...        ...        ...        ...        ...        ...       ...
706  202211  32.849998  33.099998  32.549999  32.700001  32.700001  20279555
707  202211  33.000000  33.200001  32.700001  33.200001  33.200001  25390750
708  202211  33.099998  33.549999  33.099998  33.549999  33.549999  28220045
709  202211  33.299999  33.400002  32.799999  33.000000  33.000000  32038057
710  202211  33.049999  33.549999  32.849998  33.549999  33.549999  22131247

[711 rows x 7 columns]

## 合併2個表格

In [37]:
# 轉換日期資料型態，讓2個表格的日期資料型態一致
df_monthly_sales['年月'] = df_monthly_sales['年月'].astype('str')

# 合併2個表格
df = pd.merge(left=df_monthly_sales, right=df_quote_new, 
              left_on='年月', right_on='Date', how='inner')
df = df[['Date', '單月營收', 'Adj Close']]

# 欄位改名
df.rename({'單月營收':'sales'}, axis=1, inplace=True)
df

       Date   sales  Adj Close
0    202211  9674.6  30.650000
1    202211  9674.6  30.750000
2    202211  9674.6  30.299999
3    202211  9674.6  30.450001
4    202211  9674.6  31.000000
..      ...     ...        ...
706  202001  7502.1  33.246555
707  202001  7502.1  33.357998
708  202001  7502.1  33.395142
709  202001  7502.1  31.092031
710  202001  7502.1  31.240616

[711 rows x 3 columns]

##  計算股價與月營收關聯度

In [38]:
df[['sales', 'Adj Close']].corr()

              sales  Adj Close
sales      1.000000  -0.077119
Adj Close -0.077119   1.000000

##  營收公布日期晚一個月

In [39]:
df_monthly_sales['單月營收'] = df_monthly_sales['單月營收'].shift(-1) 
df = pd.merge(left=df_monthly_sales, right=df_quote_new, 
              left_on='年月', right_on='Date', how='inner')
df = df[['Date', '單月營收', 'Adj Close']]
df.rename({'單月營收':'sales'}, axis=1, inplace=True)
df.dropna(inplace=True)

df[['sales', 'Adj Close']].corr()

              sales  Adj Close
sales      1.000000  -0.075838
Adj Close -0.075838   1.000000